<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">
        
    </head>
    <body style="font-family: 'Josefin Sans', sans-serif;">
        <div id="mySidebar" class="sidebar">
            <a href="javascript: void(0)" class="closebtn" onclick="closeNav()">x</a>
            <a href="index.html">Home</a>
            <a href="booking.html">Book Machine</a>
            <a href="availability.html">Check Availability</a>
        </div>

        <div id = "main">
            <button class="openbtn" onclick="openNav()"><span> 
                <hr color="white" width="40px" height="10px">
                <hr color="white" width="40px" height="10px">
                <hr color="white" width="40px" height="10px">
            </span></button>
        </div>

        <div style="text-align: center; padding: 25px; font-family: 'Josefin Sans', sans-serif; font-size: 50px;">
            Laundry Machine
        </div>

        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FKolkata&src=cmFqZXNoZ2F5YXRocmkyMDAzQGdtYWlsLmNvbQ&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=MDZjNnY1OTJkZDduMnJnMmZsa3Q2cTVpOW9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=Y2xhc3Nyb29tMTA1NjMxMzQ2Nzc5Mzg1MDgxMDIyQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y2xhc3Nyb29tMTE1NDcwMjM3NzcxMDk5NDc4NjU5QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y2xhc3Nyb29tMTE1NTk1OTIyODg3MTk5NTAzMTUwQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039BE5&color=%2333B679&color=%23D81B60&color=%23c26401&color=%23137333&color=%23202124" style="border:solid 1px #777; align-content:center; margin-left: 200px;" width="800" height="600" frameborder="0" scrolling="no"  ></iframe>
        <script>
            function openNav(){
                document.getElementById("mySidebar").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px"
            }

            function closeNav(){
                document.getElementById("mySidebar").style.width = "0px";
                document.getElementById("main").style.marginLeft = "0px";
            }
        </script>
    </body>
</html>